OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
Twilio_Phone_Number=+1xxxxxxxxxx
Sheets_ID=1A2B3Cxxxxxxxxxxxxxxxxxxxxxxxx
